@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* The Modal (background) */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  padding-bottom: 35px;
  left: 15.75vw;
  top: 14.5vh;
  width: 82.85vw;
  height: 67.75vh!important;
  border-radius: 10px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40.5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: Roboto;
}

.prog-content{
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: Roboto;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close{
  color: black;
  float: right;
  line-height: 25px;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: darkred;
  text-decoration: none;
  cursor: pointer;
}
.close1 {
  color: black;
  float: right;
  font-size: 28px;
}

.close1:hover,
.close1:focus {
  color: darkred;
  text-decoration: none;
  cursor: pointer;
}
.close2{
  color: black;
  float: right;
  font-size: 28px;
}

.close2:hover,
.close2:focus {
  color: darkred;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px 5px 0px 0px;
  padding: 0px 16px 0px 16px;
  background-color: #fff;
  color: black;
  border-bottom: 4px solid darkred;
}
.modal-body{
  border-radius: 20px;
  padding: 20px 20px;
  padding-bottom: 0px!important;
  text-align: left;
  background-color: #fff;
}
.prog-body{
  border-radius: 20px;
  padding: 20px 20px;
  padding-bottom: 0px!important;
  text-align: left;
}
.modal-body input[type='text'], .modal-body input[type='password'],.prog-body input[type='text'], .prog-body input[type='password']{
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: white;
  outline: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 16px;
  height: 30px;
  width: 280px;
  margin-bottom: 10px;
  margin-left: 1px;
  padding: 7px;
}
.modal-body select{
  border-radius: 3px;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  outline: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 16px;
  height: 45px;
  width: 300px;
  margin-bottom: 10px;
  margin-left: 1px;
  padding: 7px;
}
.modal-body textarea,.prog-body textarea{
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: white;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  height: 70px!important;
  width: 282px!important;
  margin-bottom: 10px;
  padding: 7px;
}
.modal-footer {
  border-radius: 0px 0px 5px 5px;
  padding: 0px 16px;
  background-color: #fff;
  color: black;
  padding-bottom: 5px;
  text-align: center;
}
.modal-btn{
  color: white;
  align-self: center;
  text-align: center;
  padding: 8px 40px;
  font-size: 15px;
  font-family: Roboto;
  margin: 10px;
  background-color: white;
  border: none;
  border-radius: 100px;
  margin-bottom: 20px;
  background-color: #8b0000;
  width: 250px;
}
.modal-btn:hover{
  background-color: #6b0000;
  color: white;
  transform: scale(1.02);
}